#addBtn{
	border: none;
	background-color: #3CAEA3;
	color:white;
	width: 150px;
	height: 36px;
	font-size: 16px;
}
#deleteBtn{
	border: none;
	background-color:#ED553B;
	color:white;
	width: 100px;
	height: 15 	px;
	font-size: 14px;
}
input{
	width: 250px;
	height: 30px;
	font-size: 18px;
}
#display{
	font-size: 18px;
	font-family: 'Open Sans'; 
}
body{
	font-family: 'Gugi';
}
#item{
	border-style: solid;
	margin-bottom: 4px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 8px;
	padding-left: 16px;
	border-color:#20639B;
}
h1,h2{
	font-family: 'Indie Flower', cursive;
}