h1{
	margin:0px;
}	
#display:hover{
	margin: 0px;
	width: 200px;
	border-style: solid;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-bottom-width: 7px;
	border-color: yellow;
}